.available-items {
  padding: 3rem;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.available-items-list {
  list-style: none;
}

.available-list-item {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-align: center;
  margin-bottom: 1.6rem;
}
