.filter-btn {
  background-color: grey;
  color: white;
  border: none;
  padding: 0.4rem 1rem;
  margin: 0 0 0 0.2rem;
  cursor: pointer;
  outline: inherit;
}

.filter-btn-selected {
  background-color: green;
}
