.app-wrapper {
  display: flex;
  height: 100vh;
}

.my-fav-pics {
  padding: 3rem;
}

ul.my-fav-pics-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

ul.my-fav-pics-list > li {
  list-style: none;
}
